*{
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: calculator;
    src: url(DSEG7Classic-Regular.woff);
 }

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 500px;
    height: 800px;
    background-color: grey;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 10px 5px rgb(99, 99, 99);
    outline: 2px solid rgb(85, 85, 85);
}

.display{
    background-color: rgb(55, 55, 55);
    height: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: end;
    overflow: hidden;
}

.prev{
    color: rgb(190, 190, 190);
    margin: 0;
    padding: 0;
    height: 50%;
    overflow: hidden;
}

.curr{
    color: white;
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    height: 50%;
    font-family: calculator;
}

.keys{
    height: 80%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.key{
    background-color: rgb(85, 85, 85);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: xx-large;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 10px rgb(80, 80, 80), 2px 2px 2px rgb(90, 90, 90);
    -moz-box-shadow: inset 0 0 10px rgb(80, 80, 80), 2px 2px 2px rgb(90, 90, 90);
    box-shadow: inset 0 0 10px rgb(80, 80, 80), 2px 2px 2px rgb(90, 90, 90);
}

.key:hover{
    transform: translate(0, -4px)  scale(102%);
    box-shadow: inset 0 0 6px rgb(80, 80, 80), 3px 3px 3px rgb(71, 71, 71);
}

.key > p {
    pointer-events: none;
}

.number{
    background-color: rgb(65, 65, 65);
    -webkit-box-shadow: inset 0 0 10px rgb(55, 55, 55), 2px 2px 2px rgb(90, 90, 90);
    -moz-box-shadow: inset 0 0 10px rgb(55, 55, 55), 2px 2px 2px rgb(90, 90, 90);
    box-shadow: inset 0 0 10px rgb(55, 55, 55), 2px 2px 2px rgb(90, 90, 90);
}

.number:hover{
    box-shadow: inset 0 0 6px rgb(55, 55, 55), 3px 3px 3px rgb(71, 71, 71);
}

.result{
    background-color: rgb(91, 184, 153);
}

.ac{
    background-color: rgb(184,91,122) ;
}

.c{
    background-color: rgb(184,107,91) ;
}

.key:active{
    transform:scale(95%);
    color: white;
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 15px rgb(255, 255, 255);
    -moz-box-shadow: inset 0 0 15px rgb(255, 255, 255);
    box-shadow: inset 0 0 15px rgb(255, 255, 255);
}
